    h1 {
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 28px;
      font-weight: bold;
      border-bottom: 2px solid #333;
    }

    ul {
      list-style-type: square;
      font-style: italic;
      color: #008080;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #FDF5E6;
      color: #333; 
      line-height: 1.6; 
      margin: 20;
      padding: 0; 
    }

    a {
       color: #800000 ;
       text-decoration: none; 
     }

     a:hover {
       text-decoration: underline; 
     }



    .floating-frame {
      position: fixed;
      top: 100px; /*відстань від верхнього краю сторінки */
      right: 20px; /*відстань від краю сторінки */
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #f5f5f5;
      z-index: 1000;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .category {
      background-color: #e6f7ff; 
    }

    .subheader {
      background-color: #ccf2ff;
    }

    p {
       font-family: Georgia, serif !important;
       font-size: 16px;
       line-height: 1.5;
       margin-bottom: 10px;
       color: #008B8B;
     }

        ol {
            list-style-type: upper-alpha;
            padding: 10;
            color: #808000;
        }

        dl {
            font-weight: bold;
            color: #2E8B57;
            margin-bottom: 5px;
        }

        dd {
            margin-left: 20px;
            margin-bottom: 10px;
            font-style: italic;
        }

        #er {

            font-style: italic;
        }

    .container {
        width: 800px;
        margin-left: 100px;
    }


    .box {
        width: 800px;
        height: 100px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 20px;
        position: relative ;
        left: 200px; 
    }


    .floating-box {
        float: right; 
    }

    a:link {
        color: blue;
    }

    a:visited {
        color: purple;
    }

    a:hover {
        color: red;
    }

    a:active {
        color: green;
    }

    span:first-child {
        color: red;
    }
